<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>CFBundleDisplayName</key>
	<string>Image Improv</string>
	<key>CFBundleIdentifier</key>
	<string>com.imageimprov</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Xamarin.Auth Google OAuth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.198313221875-3999a4ev376dplugmig89thjffq34ai8</string>
				<string>fb1475439292494090</string>
				<string>xamarin-auth</string>
			</array>
			<key>CFBundleURLTypes</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>You can compare your entries to those of nearby folks.</string>
	<key>NSCameraUsageDescription</key>
	<string>The goal of the game is to take pictures!</string>
	<key>NSContactsUsageDescription</key>
	<string>Image Improv does not access your contacts.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Image Improv does not use the microphone.</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>Image Improv does not access your music library.</string>
	<key>NSSiriUsageDescription</key>
	<string>Image Improv does not use Siri.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Image Improv does not use your calendar.</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.9</string>
	<key>UIRequiresFullScreen</key>
	<true/>
  <key>XSLaunchImageAssets</key>
  <string>Resources/Media.xcassets/LaunchImages.launchimage</string>
	<key>XSAppIconAssets</key>
	<string>Resources/Media.xcassets/AppIcons.appiconset</string>
	<key>FacebookAppID</key>
	<string>1475439292494090</string>
	<key>FacebookDisplayName</key>
	<string>Image Improv</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
</dict>
</plist>
